*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #222;
    color: white;
    font: 200 14px 'Poppins', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

nav {
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid white;
    padding-top: 10px;
    text-align: center;
    height: 55px;
}

nav ul {
    display: inline-block;
}

nav ul li {
    padding-top: 14px;
}

a {
    text-decoration: none;
}

li {
    float: left;
    margin-right: 20px;
}

ul {
    list-style: none;
}

a:any-link {
    color: white;
}

a:-webkit-any-link {
    color: white;
}

a:-moz-any-link {
    color: white;
}

a:hover {
    color: #ffc900;
}

.gridEjemplos {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}

code {
    color: #ffc900;
}

.ejemploCodigo {
    background-color: #2d0342;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
}

.demostracionEjemplo {
    background-color: #2d0342;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
}
